PORT=3000
NODE_ENV=development

MONGODB_URI=mongodb://localhost:27017/kickr

JWT_SECRET=change_me_in_production
JWT_EXPIRES_IN=15m

JWT_REFRESH_SECRET=change_me_in_production_and_use_a_different_value_than_jwt_secret
JWT_REFRESH_EXPIRES_IN=30d

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=your@gmail.com
MAIL_PASS=your_app_password
MAIL_FROM="KicKR <noreply@kickr.app>"

APP_BASE_URL=http://localhost:3000

UPLOADS_DIR=./uploads

# AWS Cognito
AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=your_iam_access_key
AWS_SECRET_ACCESS_KEY=your_iam_secret_key
COGNITO_USER_POOL_ID=ap-southeast-1_0RV7oK5Z3
COGNITO_CLIENT_ID=5heoi44orhmv00sgm29hngepk9
COGNITO_CLIENT_SECRET=your_app_client_secret
